#imagem {
    background-image: url('/assets/dra.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    width: 100vw;
    height: 100vh;
    margin-top: 150px;
  }