.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.logo {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  height: 25%;
  background-image: url('/assets/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.btn {
  font-size: 24px;
  padding: 16px 32px;
  height: 60px;
  margin-bottom: 15px;
}

.button-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(50%);
  background-image: url('/assets/dra.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
