<div class="container">
    <div class="logo"></div>
    <div class="button-container">
        <button mat-raised-button color="accent" class="btn" (click)="abrirWhats('preenchimentos labiais')">Preechimento Labial</button>
        <button mat-raised-button color="accent" class="btn" (click)="abrirWhats('preenchimentos faciais')">Preechimento Facial</button>
        <button mat-raised-button color="accent" class="btn" (click)="abrirWhats('lipoaspiração de papada')">Lipo Papada</button>
        <button mat-raised-button color="accent" class="btn" (click)="abrirWhats('toxina botulínica')">Toxina Botulínica</button>
        <button mat-raised-button color="accent" class="btn" (click)="abrirWhats('fios de pdo')">Fios de PDO</button>
        <button mat-raised-button color="accent" class="btn" (click)="abrirWhats('bioestimuladores')">Bioestimuladores</button>
        <button mat-raised-button color="accent" class="btn" (click)="abrirWhats('facetas')">Facetas</button>
        <button mat-raised-button color="accent" class="btn" (click)="abrirWhats('outros')">Outros</button>
    </div>
</div>
  